# -*- conf-unix -*- vim:ft=conf
# The above comment makes Emacs and vim treat this file as a configuration file

.password
*.[oa]
*.ann
*.DS_Store
core
core.*
err.txt
TAGS
tags
cscope.*
*.massif
callgrind.out.*
*.dSYM
tmp/
.dir-locals.el

# Text editor generated junk (backup files and such)
DEADJOE
\#*
.#*
*~
# Vim can generate extra swap files for the same file
*.sw[nop]

# bot data
dat/
